/* ========================== Component Name ========================== */
$component: .portfolio-11;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto;
  
  &__wrap {
    @apply flex relative w-full mx-auto py-24 px-12 max-w-screen-xl text-wire-dark bg-wire-light;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {

  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {

  $(component)__wrap {

  }
}
